<html>
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <hello name="{{ name }}"></hello>
    <table class="table table-hover table-bordered table-responsive">
      <thead class="table-success">
        <th>Index</th>
        <th>Task</th>
        <th>Action</th>
        <th>Status</th>
      </thead>
      <tbody>
        <tr class="table-success">
          <td>1</td>
          <td>Web Lecture</td>
          <td></td>
          <td>Yes</td>
        </tr>

        <tr class="table-warning">
          <td>2</td>
          <td>Web Lab</td>
          <td></td>
          <td>No</td>
        </tr>

        <tr class="table-success">
          <td>3</td>
          <td>Office work</td>
          <td></td>
          <td>No</td>
        </tr>

        <tr class="table-warning">
          <td>4</td>
          <td>Exam work</td>
          <td></td>
          <td>No</td>
        </tr>

        <tr class="table-success">
          <td>5</td>
          <td>Web Hackathon</td>
          <td></td>
          <td>No</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
